.golbalContainer {
  max-width: 1440px;
  margin: auto;
}
* {
  background: #030239;
}
.row {
  justify-content: center;
}
/* NAVBAR */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem !important;
  padding-bottom: 0.5rem;
  margin-left: 8rem !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: 23rem !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #f8a641 !important;
}
/* .background-image {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: -5%;
}
img.background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */
/* MAIN */

.w-100 {
  width: 100% !important;
  margin-left: -60px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  align-items: center !important;
}
button.buttons {
  width: 170px;
  padding: 12px;
  background-image: linear-gradient(90deg, #21d397 0, #7450fe 50%, #21d397);
  background-size: 200% auto;
}

button.read-more {
  width: 170px;
  padding: 12px;
  font-size: 12px !important;
  font-weight: 700;
  background-image: linear-gradient(90deg, #21d397 0, #7450fe 50%, #21d397);
  background-size: 200% auto;
}
img {
  max-width: 110%;
}
.image {
  width: 80%;
  display: block;
  margin: auto;
}
img.img2 {
  max-width: 100%;
}
span.gradient-text {
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(135deg, #846ff4, #f17674);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-container {
  margin-top: 150px;
}

/* SERVICES */

.service-content {
  margin-top: 100px;
}
.card-body {
  flex: 1 1 auto;
  padding: 27px !important;
}

.col-lg-4.col-md-6.grid-items.my-5 {
  background: #100f43;
}
.col-lg-4 {
  flex: 0 0 auto;
  background: #100f43;
  width: 33.33333333%;
}
.dream-dots.justify-content-center.fadeInUp.aos-init.aos-animate {
  background: transparent;
}
h2.text-light {
  background: transparent;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: auto !important;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
}
.contribution-c-wapper {
  position: relative;
}

.has-arrow-right-lg:after {
  content: "";
  position: absolute;
  top: 47%;
  right: -85px;
  width: 63px;
  height: 41px;
  background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
    100%/100% auto no-repeat;
}
.has-arrow-left-lg:after {
  content: "";
  position: absolute;
  top: 47%;
  right: -85px;
  transform: rotate(180deg);
  width: 63px;
  height: 41px;
  background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
    100%/100% auto no-repeat;
}
.arrow-img.rotated {
  transform: rotate(180deg);
  max-height: 60px;
  background: transparent;
}
.arrow-img {
  max-height: 60px;
  background: transparent;
}
.numbers {
  position: absolute;
  top: -14%;
  left: 40%;
  width: 20%;
  text-align: center;
  border-radius: 50%;
  height: 57px;
  background: #262554;
}
.gradient-t.orange {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #fad961, #f76b1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.pink {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(0deg, #846ff4, #f17674);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.blue {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #17ead9, #6078ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.green {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #43e695, #3bb2b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.col-lg-4.col-md-6.grid-items {
  margin-top: 80px;
  margin-bottom: 70px;
}

/* DECENTRALIZED */
.gradient-text.blue {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(35deg, #17ead9, #6078ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.decentralized-content {
  margin-left: 30px;
}
h4.blockchain.text-light.my-3 {
  width: 70%;
  font-size: 28px;
}
/* img-vert-move */
img.vert-move {
  animation: mover 3s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* BOTTOM */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.check {
  height: 40px;
  background-color: rgba(13, 0, 59, 0.9);
  border-radius: 5px;
  color: #25cbd3;
  position: relative;
  width: 100%;
  display: block;
  margin: 40px auto -16px;
}
.check .check-icon {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent;
  height: 23px;
}
.ico-container.border.border-2 {
  width: 100%;
  padding: 40px 30px;
  border-radius: 14px;
  background: #ffff;
  box-shadow: 4px 4px 10px 0 rgb(168 67 253 / 30%);
  border-bottom: 3px solid #a843fd !important;
  margin-top: 20px;
}
.img-logo {
  background: transparent;
}
.check .value {
  font-size: 27px;
  font-weight: 600;
  text-shadow: 0 0 5px rgb(0 243 255 / 50%);
  background: transparent;
}

/* SMARTCONTRACT */

.service-box {
  position: relative;
  border: 2px solid #100f43;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  background-color: transparent;
}
.box-content {
  padding: 15px 40px 0px;
}

img.box-img {
  position: absolute;
  left: -4%;
  max-width: 50px;
}

/* PLATFORM */
li.item {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}
ol,
ul {
  padding-left: 0rem !important;
}
svg.icon {
  margin-right: 14px;
  margin-top: 11px;
}
.powerful {
  padding: 20px 40px;
  border-radius: 25px;
  background: hsla(0, 0%, 100%, 0.05);
}

.platform-image {
  position: relative;
}
.image2 {
  width: 90%;
  position: absolute;
  top: 45%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
img.vert-move2 {
  background: transparent;
  animation: mover 3s infinite alternate;
}

/* TOKEN PRICE */
.bonus.text-light {
  background-image: linear-gradient(117deg, #724eff, #5187ff);
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.card-body2.text-center {
  padding: 20px 0px;
}
/* WHITE PAPEER */
.whitepaper {
  margin-top: 100px;
}
button.whitepaper-button {
  background-image: linear-gradient(90deg, #846ff4 0, #f17674 51%, #846ff4);
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  font-weight: 700;
  font-size: 14px;
  width: 35%;
  margin-top: 20px;
}

@media screen and (max-width: 912px) {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem !important;
    padding-bottom: 0.5rem;
    margin-left: 0rem !important;
    margin-bottom: 35px !important;
  }
  .platform-image {
    position: relative;
    width: 70%;
    display: block;
    margin: auto;
  }
  .image-container {
    width: 76%;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem !important;
    line-height: 1;
    background-image: linear-gradient(
      90deg,
      #21d397 0,
      #7450fe 50%,
      #21d397
    ) !important;
    border: 2px solid black;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    margin-right: 5px !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: transparent;
  }
  .has-arrow-right-lg:after {
    content: "";
    position: absolute;
    top: 47%;
    right: -85px;
    width: 63px;
    height: 41px;
    background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
      100%/100% auto no-repeat;
    display: none;
  }
  .has-arrow-left-lg:after {
    content: "";
    position: absolute;
    top: 47%;
    right: -85px;
    transform: rotate(180deg);
    width: 63px;
    height: 41px;
    background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
      100%/100% auto no-repeat;
    display: none;
  }
  .col-lg-4.text-center {
    display: none;
  }
  img.vert-move {
    display: block;
    margin: 35px auto;
    width: 80%;
  }
  h4.blockchain.text-light.my-3 {
    width: 100%;
    font-size: 22px;
  }
  .service-box {
    position: relative;
    border: 2px solid #100f43;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: transparent;
  }
}
