.golbalContainer {
  max-width: 1440px;
  margin: auto;
}
* {
  background: #030239;
}

/* NAVBAR */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem !important;
  padding-bottom: 0.5rem;
  margin-left: 8rem !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: 23rem !important;
}

/* .background-image {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: -5%;
}
img.background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */
/* MAIN */

.w-100 {
  width: 100% !important;
  margin-left: -60px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  align-items: center !important;
}
button.buttons {
  width: 170px;
  padding: 12px;
  background-image: linear-gradient(90deg, #21d397 0, #7450fe 50%, #21d397);
  background-size: 200% auto;
}
button.read-more {
  width: 170px;
  padding: 12px;
  font-size: 12px !important;
  font-weight: 700;
  background-image: linear-gradient(90deg, #21d397 0, #7450fe 50%, #21d397);
  background-size: 200% auto;
}
img {
  max-width: 130%;
}
.image {
  width: 80%;
  display: block;
  margin: auto;
}
img.img2 {
  max-width: 100%;
}
span.gradient-text {
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(135deg, #846ff4, #f17674);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-container {
  margin-top: 150px;
}

/* SERVICES */

.service-content {
  margin-top: 100px;
}
.card-body {
  flex: 1 1 auto;
  padding: 27px !important;
}

.col-lg-4.col-md-6.grid-items.my-5 {
  background: #100f43;
}
.col-lg-4 {
  flex: 0 0 auto;
  background: #100f43;
  width: 33.33333333%;
}
.dream-dots.justify-content-center.fadeInUp.aos-init.aos-animate {
  background: transparent;
}
h2.text-light {
  background: transparent;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: auto !important;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
}
.contribution-c-wapper {
  position: relative;
}

.has-arrow-right-lg:after {
  content: "";
  position: absolute;
  top: 47%;
  right: -85px;
  width: 63px;
  height: 41px;
  background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
    100%/100% auto no-repeat;
}
.has-arrow-left-lg:after {
  content: "";
  position: absolute;
  top: 47%;
  right: -85px;
  transform: rotate(180deg);
  width: 63px;
  height: 41px;
  background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
    100%/100% auto no-repeat;
}
.arrow-img.rotated {
  transform: rotate(180deg);
  max-height: 60px;
  background: transparent;
}
.arrow-img {
  max-height: 60px;
  background: transparent;
}
.numbers {
  position: absolute;
  top: -14%;
  left: 40%;
  width: 20%;
  text-align: center;
  border-radius: 50%;
  height: 57px;
  background: #262554;
}
.gradient-t.orange {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #fad961, #f76b1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.pink {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(0deg, #846ff4, #f17674);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.blue {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #17ead9, #6078ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.gradient-t.green {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(180deg, #43e695, #3bb2b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px;
  font-size: 25px;
}
.col-lg-4.col-md-6.grid-items {
  margin-top: 80px;
  margin-bottom: 70px;
}

/* DECENTRALIZED */
.gradient-text.blue {
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(35deg, #17ead9, #6078ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.decentralized-content {
  margin-left: 30px;
}
h4.blockchain.text-light.my-3 {
  width: 70%;
  font-size: 28px;
}
/* img-vert-move */
img.vert-move {
  animation: mover 4s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 912px) {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem !important;
    padding-bottom: 0.5rem;
    margin-left: 0rem !important;
    margin-bottom: 35px !important;
  }
  .image-container {
    width: 76%;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem !important;
    line-height: 1;
    background-image: linear-gradient(
      90deg,
      #21d397 0,
      #7450fe 50%,
      #21d397
    ) !important;
    border: 2px solid black;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    margin-right: 30px !important;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: transparent;
  }
  .has-arrow-right-lg:after {
    content: "";
    position: absolute;
    top: 47%;
    right: -85px;
    width: 63px;
    height: 41px;
    background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
      100%/100% auto no-repeat;
    display: none;
  }
  .has-arrow-left-lg:after {
    content: "";
    position: absolute;
    top: 47%;
    right: -85px;
    transform: rotate(180deg);
    width: 63px;
    height: 41px;
    background: url(https://ico1.netlify.app/static/media/join-right.801c92b0.svg)
      100%/100% auto no-repeat;
    display: none;
  }
  .col-lg-4.text-center {
    display: none;
  }
  img.vert-move {
    display: block;
    margin: 35px auto;
    width: 80%;
  }
  h4.blockchain.text-light.my-3 {
    width: 100%;
    font-size: 22px;
  }
}
